@model appTest.Models.Fournisseurs

<div class="text-center">
    <h3 class="display-4">modification du fournisseur</h3>
</div>

<form asp-action="Edit" method="post">
    <h3>Modifier </h3>
    <label class="mt-4">Id:</label>
    <input class="form-control" type="number" asp-for="Id" readonly>
    <br />
    <label class="mt-4"> Nom:</label>
    <input class="form-control" type="text" asp-for="Nom" />
    <br />
    <br />
    <button type="submit">enregistrer</button>
    <button type="reset">supprimer</button>
    <a asp-action="Index">Annuler</a>
</form>