<div class="siege">
<img src="~/bottu-siege.jpg"/>

</div>
<div class="titre">
	<h1 class="title">Gestion des produits pharmaceutiques</h1>
</div>
<h3><u>Bottu</u></h3>
<p><strong>Bottu</strong> est un laboratoire pharmaceutique marocain de premier plan, situé à Aïn Sebâa, Casablanca.
	L'entreprise est spécialisée dans le développement, la fabrication et la distribution
	de plus de 300 médicaments génériques et spécialisés, dont le célèbre<strong> Doliprane.</strong></p>